doctype html

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Hello World
body
  h1 Create Continent
  form(action='/submit' method='post')
    | Continent:
    br
    input(type='text' id='name' name='name')
    br
    br
    input(type='submit' value='Submit')
  h1 Hello World!!!
  ul
    each continent in continents
      li=continent.continentName 
        a(href='/update/'+continent._id) Edit
        a(href='/delete/'+continent._id) Delete


